<%- include ("./partials/header") %>
<div class="center">
    <h1>Welcome!</h1>
    <h5> <%= user %> </h5>
    <a type="button" class="btn btn-dark" style="font-size:110%" href="/logout">
        <span class="px-1">Logout</span>
      </a>
</div>
<%- include ("./partials/footer") %>

