<%- include ("./partials/header") %>
<div class="d-flex justify-content-center align-items-center" style="height:90vh">
  <a type="button" class="btn btn-dark" style="font-size:110%" href="/signin">
    <img class="logo pb-1" src="/images/ms-logo.png" alt="microsoft logo">
    <span class="px-1">SSO Login</span>
  </a>
</div>
<%- include ("./partials/footer") %>